
body {
	padding: 0;
	margin: 0;
}

.app-gui {
	width: 1300px;
	margin: auto;
	position: relative;
}

.leaflet-control-draw-measure {
    background-image: url(images/control.png);
	background-size: 20px auto;
}

#text {
    font-family: Impact, sans-serif;
    background: #DEE4FC;
    width: 500px;
    height: 130px;
    padding: 20px;
    overflow-y: scroll;
    overflow-x: hidden;
    word-wrap: break-word;
    word-break: break-all;
    white-space: pre;    
}

#map {
	width: 100%;
	height: 750px;
	position: relative;
}

#top-menu {
	height: 56px;
	width: 100%;
	background: #00A2E0;
	overflow: hidden;
}

#location {
	cursor: pointer;
	float: left;
	padding-left: 50px;
	padding-right: 20px;
	padding-top: 16px;
}

#get-info {
	cursor: pointer;
	float: left;
	padding-left: 30px;
	padding-right: 20px;
	padding-top: 16px;
}

#datas {
	cursor: pointer;
	float: left;
	padding-left: 30px;
	padding-right: 20px;
	padding-top: 16px;
}

#china {
	cursor: pointer;
	float: left;
	padding-left: 30px;
	padding-right: 20px;
	padding-top: 16px;
}

#bottom-info {
	width: 100%;
	height: 25px;
	background-color: #C1D1D2;
}
